<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--Source Database ConnectionString-->
    <!--<add name="SourceDBConnectionString" connectionString="Data Source=LIFEDWSQLDEV;Initial Catalog=LifeSTG;Integrated Security = True" />-->
    <add name="SourceDBConnectionString" connectionString="Data Source={Server};Initial Catalog={Database};Integrated Security = True"/>


    <!--Target Database ConnectionString-->
    <!--<add name="TargetDBConnectionString" connectionString="Data Source=LIFEDWSQLSUPPORT;Initial Catalog=LifeSTG;Integrated Security = True" />-->
    <add name="TargetDBConnectionString" connectionString="Data Source={Server};Initial Catalog={Database};Integrated Security = True"/>

    <!--TestConfig and Results Server ConnectionString-->
    <add name="TestConfigConnectionString" connectionString="Data Source=LIFEDWSQLDEV;Initial Catalog=RegressionTests;Integrated Security = True"/>

  </connectionStrings>
  <appSettings>
    <add key="RecErrorsCSVFilePath" value="C:\temp\LifeIT\Regression\{FileName}.csv"/>
    <add key="FromEmailAddress" value="LifeITRegression@challenger.com.au"/>
    <add key="ToEmailAddressForSupport" value="rapparasu@challenger.com.au"/>
    <add key="SMTPHostName" value="smtpsydp.au.challenger.net"/>
    <add key="SMTPPortNumber" value="25"/>
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
